<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <!-- title -->
    <title>Floryn</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")">
    <!-- owl carousel -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/owl.carousel.css")">
    <!-- magnific popup -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/magnific-popup.css")">
    <!-- animate css -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/animate.css")">
    <!-- mean menu css -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/meanmenu.min.css")">
    <!-- main style -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")">
    <!-- responsive -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/responsive.css")">
</head>
<body>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <header>
        <div class="top-header-area" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center">
                        <div class="main-menu-wrap">
                            <!-- logo -->
                            <div class="site-logo">
                                <a href="/Home/Index">
                                    <img src="@Url.Content("~/assets/img/logo.png")" alt="">
                                </a>
                            </div>
                            <!-- logo -->
                            <!-- menu start -->
                            <nav class="main-menu">
                                <ul>
                                    <li class="current-list-item"><a href="/Home/Index">Home</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                    <li><a href="/Home/About">About</a></li>
                                    <li>
                                        <div class="header-icons">
                                            @if (Session["UserID"] != null)
                                            {
                                                <a class="shopping-cart" href="@Url.Action("Logout", "Account")">
                                                    <i class="fa-solid fa-user"></i> Đăng xuất
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="shopping-cart" href="@Url.Action("Login", "Account")">
                                                    <i class="fa-solid fa-user"></i> Đăng nhập
                                                </a>
                                            }
                                            <a class="shopping-cart" href="@Url.Action("CartDetail", "Cart")">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                            <a class="mobile-hide search-bar-icon" href="#">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                    </li>
                                </ul>
                            </nav>
                            <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                            <div class="mobile-menu"></div>
                            <!-- menu end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- search area -->
        <div class="search-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="close-btn"><i class="fas fa-window-close"></i></span>
                        <div class="search-bar">
                            <div class="search-bar-tablecell">
                                <h3>Search For:</h3>
                                <input type="text" placeholder="Keywords">
                                <button type="submit">Search <i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end search arewa -->
    </header>
    @RenderBody()
    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>"Chúng tôi cam kết mang đến những đóa hoa tươi thắm và chất lượng, khơi nguồn cảm hứng từ vẻ đẹp tự nhiên. Mỗi bó hoa đều được chăm chút cẩn thận để truyền tải tình yêu và sự chân thành đến bạn.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>140 Lê Trọng Tấn</li>
                            <li>support@floryn.com</li>
                            <li>+84912345678</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Shop</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>Copyrights &copy; 2024,  All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="@Url.Content("~/assets/js/jquery-1.11.3.min.js")"></script>
    <!-- bootstrap -->
    <script src="@Url.Content("~/assets/bootstrap/js/bootstrap.min.js")"></script>
    <!-- count down -->
    <script src="@Url.Content("~/assets/js/jquery.countdown.js")"></script>
    <!-- isotope -->
    <script src="@Url.Content("~/assets/js/jquery.isotope-3.0.6.min.js")"></script>
    <!-- waypoints -->
    <script src="@Url.Content("~/assets/js/waypoints.js")"></script>
    <!-- owl carousel -->
    <script src="@Url.Content("~/assets/js/owl.carousel.min.js")"></script>
    <!-- magnific popup -->
    <script src="@Url.Content("~/assets/js/jquery.magnific-popup.min.js")"></script>
    <!-- mean menu -->
    <script src="@Url.Content("~/assets/js/jquery.meanmenu.min.js")"></script>
    <!-- sticker js -->
    <script src="@Url.Content("~/assets/js/sticker.js")"></script>
    <!-- main js -->
    <script src="@Url.Content("~/assets/js/main.js")"></script>
    @RenderSection("Scripts", false)
</body>
</html>
